* {
	margin: 0;
	padding: 0;
}



html {
  scroll-behavior: smooth;
}



body {
    font-family: 'Arvo', serif;
}


.height {
    min-height: 100vh;
}
.bg-img {
    height: 100vh;
    width: 100vw;
    justify-content: center;
     align-items: center;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7),
                     rgba(0, 0, 0, 0.7)),
     url(../img/thought-catalog-505eectW54k-unsplash.jpg);
    background-attachment: fixed;
}


.title-underline {
    width: 200px;
    height: 10px;
    margin: 0 auto;
    /* to ovewrite the class I can go like this
    background: blue!important; */
}


.height-80 {
    min-height: 80vh;
}

.max-width {
    width:  calc(100% - 9px);
}

.about-picture {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.575),
    rgba(0, 0, 0, 0.7)),
    url(../img/about05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#filler, #progress{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.575),
    rgba(0, 0, 0, 0.7)),
    url(../img/fill04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}